**/slurm_logs/*
**/**/slurm_logs/*
**/**/slurm_logs/*
./older_stuff/
older/*
older
older/
old_model_spaces
./.env/
model_recoveries/*
model_fits/*
.env/*
.env/*
__pycache__
__pycache__/*
./__pycache__/*
datasets/
datasets/*
!datasets/Example_DataConverters
multiRLfit/
active_csvs/*
model_analysis/simulation_log*
model_analysis/*
shared.zip
